In [1]:
import pandas as pd 
import numpy as np 

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
cat_df  = pd.read_csv('eng_categories.csv')
item_df = pd.read_csv('eng_items.csv')

In [39]:
cats         = []
sub_cats     = []
sub_sub_cats = []
def split_catergories(x):
    xs = x.split(" ")
    w = []
    for x in xs:
        x.strip()
        if x != "":
            w.append(x)
    cat = w[0]
    sub_cat = ""
    sub_sub_cat = ""
    if len(w) > 1:
        if w[1] != "-":
            sub_cat = w[1]
        elif w[1] == "-":
            sub_cat = w[2]
        if len(w) > 4:
            sub_sub_cat = w[3] + " " + w[4]
        elif len(w) > 3:
            sub_sub_cat = w[3]
    
    #print(cat," ", sub_cat, " ", sub_sub_cat)
    cats.append(cat)
    sub_cats.append(sub_cat)
    sub_sub_cats.append(sub_sub_cat)
    
cat_df.category_name.apply(split_catergories)
cat_df['cat']         = cats
cat_df["sub_cat"]     = sub_cats
cat_df["sub_sub_cat"] = sub_sub_cats
cat_df.head()

,category_name,category_id,cat,sub_cat,sub_sub_cat
0,PC - Headsets / Headphones,0,PC,Headsets,/ Headphones
1,Accessories - PS2,1,Accessories,PS2,
2,Accessories - PS3,2,Accessories,PS3,
3,Accessories - PS4,3,Accessories,PS4,
4,Accessories - PSP,4,Accessories,PSP,

In [44]:
item_df.head()

   item_id  category_id                                          item_name
0        0           40             !! IN THE POWER OF HAPPINESS (PLAST) D
1        1           76  ! ABBYY FineReader 12 Professional Edition Ful...
2        2           40              *** IN THE GLORY OF THE GLORY (UNV) D
3        3           40                             *** BLUE WAVE (Univ) D
4        4           40                                  *** BOX (GLASS) D

In [45]:
cv1 = CountVectorizer()
xcv = cv1.fit_transform(item_df.item_name)
tokens = cv1.get_feature_names()
item_df_cv1 = pd.DataFrame(data=xcv.toarray(), columns=tokens)
item_df_cv1.head()

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,zverushki,zvongo,zykina,zz,çudovi,épilog,šapka,širli,žanna,žel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
cv2 = CountVectorizer(ngram_range=(1,2))
xcv2 = cv2.fit_transform(item_df.item_name)
tokens = cv2.get_feature_names()
item_df_cv2 = pd.DataFrame(data=xcv2.toarray(), columns=tokens)
item_df_cv2.head()

,00,00 07,000,000 accessories,000 dawn,000 kill,000 leagues,000 miniatures,000 points,000 rulebook,...,épilog,épilog cd,šapka,šapka nevidimka,širli,širli myrli,žanna,žanna grand,žel,žel boks
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
tf1 = TfidfVectorizer()
xtf = tf1.fit_transform(item_df.item_name)
tokens = tf1.get_feature_names()
item_df_tf1 = pd.DataFrame(data=xtf.toarray(), columns=tokens)
item_df_tf1.head()

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,zverushki,zvongo,zykina,zz,çudovi,épilog,šapka,širli,žanna,žel
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
tf2 = TfidfVectorizer(ngram_range=(1,2))
xtf2 = tf2.fit_transform(item_df.item_name)
tokens = tf2.get_feature_names()
item_df_tf2 = pd.DataFrame(data=xtf2.toarray(), columns=tokens)
item_df_tf2.head()

,00,00 07,000,000 accessories,000 dawn,000 kill,000 leagues,000 miniatures,000 points,000 rulebook,...,épilog,épilog cd,šapka,šapka nevidimka,širli,širli myrli,žanna,žanna grand,žel,žel boks
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
cv2m = CountVectorizer(ngram_range=(1,2), min_df=3)
xcv2m = cv2m.fit_transform(item_df.item_name)
tokens = cv2m.get_feature_names()
item_df_cv2m = pd.DataFrame(data=xcv2m.toarray(), columns=tokens)
item_df_cv2m.head()

,000,000 dawn,000 miniatures,000 space,00002,00002 microsoft,00008,00011,00012,00013,...,zoshchenko,zuana,zup,zup izd,zup8,zup8 rev,zykina,zykina lyudmila,zz,zz top
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0